<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTContentPolicyURL</key>
	<string>https://mytoob.app/legal/content-policy</string>
	<key>MTSupportEmail</key>
	<string>support@mytoob.app</string>
	<key>MTSupportWebURL</key>
	<string>https://mytoob.app/support</string>
	<key>MTCompanyName</key>
	<string>MyToob LLC</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yourcompany.mytoob.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.506092212006-b9uk76a1fvoj0i8o12h0h6t18jmmbcq9</string>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
